{% extends 'base.jinja2' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
    <div class="row">
        <h5>Select a group from the list below to see its sensors:</h5>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row w-25">
            <ul class="list-group list-group-hover">
                {% for group in groups %}
                    <a class="list-group-item list-group-item-action" href="{{ group.url }}" alt="Group: {{ group.groupid }}">
                        Group: {{ group.alias }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
