{% extends 'base.jinja2' %}

{% block head %}{% endblock %}

{% block header %}
    <h1>{{ title }} - Senslify</h1>
    <h5>Select a group from the list below to see its sensors:</h5>
{% endblock %}
{% block content %}
    <ul id="group_list">
    {% for group in groups %}
        <li>
            <a href="{{ group.url }}" alt="Group: {{ group.groupid }}">
                Group: {{ group.groupid }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block footer %}{% endblock %}
