{% extends 'base.jinja2' %}

{% block head %}{% endblock %}

{% block header %}
    <h1>{{ title }} - Senslify</h1>
    <h5>Select a sensor from the list below to view it live:</h3>
{% endblock %}
{% block content %}
    <ul id="sensor_list">
    {% for sensor in sensors %}
        <li>
            <a href="{{ sensor.url }}" alt="Sensor: {{ sensor.alias }}">
                Sensor: {{ sensor.alias }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block footer %}{% endblock %}
