<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ title }}{% endblock%} - Senslify</title>
        <nav>
            <ul>
                <li><a href="{{ url('index') }}">Home</a></li>
            </ul>
        </nav>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer>
            <!-- Import JQuery and Popper -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"></script>
            <!-- Import Bootstrap -->
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
