<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
        <nav>
            <ul>
                <li><a href="{{ url('index') }}">Home</a></li>
                <li><A href="{{ url('sensors') }}">Sensors</a></li>
            </ul>
        </nav>
        <title>{% block title %}{% endblock%} - Senslify</title>
    </head>
    <body>
        <header>
            <h1>{% block title %}{% endblock %} - Senslify</h1>
            {% block header %}{% endblock %}
        </header>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
